MoreThanOneServiceContractDemo/MultipleServiceContractClient/MultipleServiceContractClient/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7780/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7780/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INormalCal_AddInt_InputMessage">
    <wsdl:part name="parameters" element="tns:AddInt" />
  </wsdl:message>
  <wsdl:message name="INormalCal_AddInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIntResponse" />
  </wsdl:message>
  <wsdl:message name="INormalCal_AddString_InputMessage">
    <wsdl:part name="parameters" element="tns:AddString" />
  </wsdl:message>
  <wsdl:message name="INormalCal_AddString_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStringResponse" />
  </wsdl:message>
  <wsdl:message name="IBankCal_GetBalanace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanace" />
  </wsdl:message>
  <wsdl:message name="IBankCal_GetBalanace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanaceResponse" />
  </wsdl:message>
  <wsdl:portType name="INormalCal">
    <wsdl:operation name="AddInt">
      <wsdl:input wsaw:Action="http://tempuri.org/INormalCal/AddInt" message="tns:INormalCal_AddInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INormalCal/AddIntResponse" message="tns:INormalCal_AddInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddString">
      <wsdl:input wsaw:Action="http://tempuri.org/INormalCal/AddString" message="tns:INormalCal_AddString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INormalCal/AddStringResponse" message="tns:INormalCal_AddString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IBankCal">
    <wsdl:operation name="GetBalanace">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankCal/GetBalanace" message="tns:IBankCal_GetBalanace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankCal/GetBalanaceResponse" message="tns:IBankCal_GetBalanace_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INormalCal" type="tns:INormalCal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddInt">
      <soap:operation soapAction="http://tempuri.org/INormalCal/AddInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddString">
      <soap:operation soapAction="http://tempuri.org/INormalCal/AddString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IBankCal" type="tns:IBankCal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBalanace">
      <soap:operation soapAction="http://tempuri.org/IBankCal/GetBalanace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_INormalCal" binding="tns:BasicHttpBinding_INormalCal">
      <soap:address location="http://localhost:7780/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IBankCal" binding="tns:BasicHttpBinding_IBankCal">
      <soap:address location="http://localhost:7780/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>