GenericDataContractDemo/Client/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GenericDataContractDemo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GenericDataContractDemo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FooOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FooOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/GenericDataContractDemo" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FooOfstring" nillable="true" type="tns:FooOfstring" />
</xs:schema>